
*bak*
data/logs/*
*.sublime*
data/wiki.fr.vec
data/fr_model.bin
data/iagotchi.sqlite
test.py
iagotchi-bot/__pycache__/*
__pycache__/*
data/sounds/*
#*.tar.gz
IaGenerator
Build/
Dist/
Files/
IAGOGENERATOR/
IAGOTCHI.zip
Livrables/
Planning.ods
PointGael.pdf
PointGael.pptx
PointGaelLabforsims2.pptx
ReunionIagotchi19032019.pdf
ReunionIagotchi19032019.pptx
agpl.tmpl
cacert.pem
cd
data/configv.json
generate_header.sh
iagotchi-bot/.kdev4/
iagotchi-bot/.lima.py.kate-swp
iagotchi-bot/iagotchi-bot.kdev4
iagotchi-bot/pyliblo/
iagotchi-bot/sonar-project.properties
iagotchi.png
liblo/
privkey.pem
pyliblo/
question-context.xlsx
sent2vec/
server.crt
server.csr
server.key
server.pem
text.tmp
web.py-0.38/
webplatform-samples/
