version: '3.3'
services:
    iagotchi:
        image: iagotchi:latest
        build: 
            context: ./iagotchi-bot/
            dockerfile: Dockerfile
        ports:
            - "8088:8088"
            - "5005:5005"
            - "5007:5007"
        networks:
            - demo
        volumes:
            #- ~/Projects/Iagotchi/Dist/data:/Dist/data
            #- /Users/theanimal/Documents/IAGO_2/iagotchi-lasti/data:/Dist/data
            #- /Volumes/backMeUp/Docker/iagotchi-lasti/data:/Dist/data
            - /home/rocio/Bureau/iagotchi-lasti/data/:/Dist/data
        devices:
            - "/dev/snd:/dev/snd"
        environment:
            PYTHONUNBUFFERED: 1

        links:
            - limaserver
        environment:
            NAME: iagotchi
        shm_size: '4G'
        tty: true 
        #depends_on:
            #- limaserver
        
            
    limaserver:
        image: limaserver:latest
        ports:
            - "8090:8080"
        environment:
            NAME: limaserver
        networks:
            - demo
        tty: true
        command: limaserver

        
networks:
  demo:
    driver: bridge

